<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.2.xsd">
	<http pattern="/login" security="none" />
	<http pattern="/js/**" security="none" />
	<http pattern="/zxjcaptcha.svl" security="none" />
	<http pattern="/api/**" security="none" />
    
	<http entry-point-ref="authenticationEntryPoint" use-expressions="true" access-denied-page="/deniedpage">
		<session-management session-fixation-protection="none">
			<concurrency-control error-if-maximum-exceeded="true" max-sessions="1" expired-url="/login" />
		</session-management>
		<custom-filter ref="customUserAuthenticationFilter" position="FORM_LOGIN_FILTER" />
		<custom-filter ref="securityInterceptor" before="FILTER_SECURITY_INTERCEPTOR" />
		<custom-filter ref="logoutFilter" position="LOGOUT_FILTER"></custom-filter>
		<custom-filter ref="jcsessionManagementFilter" before="SESSION_MANAGEMENT_FILTER" />
	</http>
	<!-- 登录页面 -->
	<beans:bean id="authenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<beans:property name="loginFormUrl" value="/login" />
	</beans:bean>
	
	<!-- 登录认证处理器 -->
	<beans:bean id="customUserAuthenticationFilter" class="com.mango.framework.security.JcSecurityFilter">
		<beans:property name="filterProcessesUrl" value="/dologin" />
		<beans:property name="authenticationManager" ref="authenticationManager" />
		<beans:property name="authenticationSuccessHandler" ref="successHandler" />
		<beans:property name="authenticationFailureHandler" ref="failureHandler" />
	</beans:bean>
	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="jcUserDetailsService">
		</authentication-provider>
	</authentication-manager>
	<beans:bean id="jcUserDetailsService" class="com.mango.framework.security.JcUserDetailsService" />
	<!-- 登录成功处理器 -->
	<beans:bean id="successHandler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
		<beans:property name="defaultTargetUrl" value="/index" />
	</beans:bean>
	<!-- 登录失败处理器 -->
	<beans:bean id="failureHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
		<beans:property name="defaultFailureUrl" value="/invalidlogin" />
	</beans:bean>
	
	<!-- 权限过滤 -->
	<beans:bean id="securityInterceptor" class="com.mango.framework.security.JcSecurityInterceptor">
		<beans:property name="authenticationManager" ref="authenticationManager" />
		<beans:property name="accessDecisionManager">
			<beans:bean class="org.springframework.security.access.vote.AffirmativeBased">
				<beans:property name="decisionVoters">
					<beans:list>
						<beans:bean class="com.mango.framework.security.JcSecurityVoter" />
					</beans:list>
				</beans:property>
			</beans:bean>
		</beans:property>
		<beans:property name="securityMetadataSource" ref="securityMetadataSource" />
	</beans:bean>
	<!-- 资源授权查询 -->
	<beans:bean id="securityMetadataSource" class="com.mango.framework.security.JcSecurityMetadataSource" init-method="init" />
	
	<beans:bean id="logoutFilter" class="org.springframework.security.web.authentication.logout.LogoutFilter">
		<beans:constructor-arg value="/logexit" />
		<beans:constructor-arg>
			<beans:list>
				<beans:bean class="com.mango.framework.security.JcSecurityLogout" />
			</beans:list>
		</beans:constructor-arg>
		<beans:property name="filterProcessesUrl" value="/logout" />
	</beans:bean>
	
	<beans:bean id="jcsessionManagementFilter" class="com.mango.framework.security.JcSessionManagementFilter">
	    <beans:constructor-arg  ref="securityContextRepository" />
	    <beans:constructor-arg  ref="sas" />
	    <beans:property name="invalidSessionStrategy" ref="invalidSessionStrategy" />
	</beans:bean>
	<beans:bean id="securityContextRepository" class="org.springframework.security.web.context.HttpSessionSecurityContextRepository" />
	<beans:bean id="sas" class="org.springframework.security.web.authentication.session.SessionFixationProtectionStrategy" />
	<beans:bean id="invalidSessionStrategy" class="com.mango.framework.security.JcSimpleRedirectInvalidSessionStrategy" >
	    <beans:constructor-arg value="/login" />
	</beans:bean>
	
	<beans:bean id="sessionRegistry" class="org.springframework.security.core.session.SessionRegistryImpl" />
	
	<beans:bean id="exceptionTranslationFilter" class="com.mango.framework.security.JcExceptionTranslationFilter">
		<beans:property name="authenticationEntryPoint" ref="authenticationEntryPoint" />
		<beans:property name="accessDeniedHandler" ref="accessDeniedHandler" />
	</beans:bean>
	<beans:bean id="accessDeniedHandler" class="org.springframework.security.web.access.AccessDeniedHandlerImpl">
		<beans:property name="errorPage" value="/deniedpage" />
	</beans:bean>
	
</beans:beans>
