<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.douins.apply.dao.ApplyInfoDao">
    <resultMap id="BaseResultMap" type="com.douins.apply.domain.model.ApplyInfo" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="APPLY_INFO_ID" property="applyInfoId" jdbcType="CHAR" />
    <result column="POLICY_ID" property="policyId" jdbcType="CHAR" />
    <result column="APPLY_TYPE" property="applyType" jdbcType="VARCHAR" />
    <result column="APPLY_TIME" property="applyTime" jdbcType="TIMESTAMP" />
    <result column="APPLY_CUSTOMER_ID" property="applyCustomerId" jdbcType="CHAR" />
    <result column="VALIDATE_TIME" property="validateTime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="ISVALID" property="isvalid" jdbcType="CHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>

    <sql id="Base_Column_List" >
        ID,APPLY_INFO_ID,POLICY_ID,APPLY_TYPE,APPLY_TIME,APPLY_CUSTOMER_ID,VALIDATE_TIME,STATUS,ISVALID,CREATE_DATE,UPDATE_DATE
    </sql>

    <!-- insert -->
	<insert id="add" parameterType="com.douins.apply.domain.model.ApplyInfo">
 		insert into T_APPLY_INFO (APPLY_INFO_ID, POLICY_ID,  APPLY_TYPE, APPLY_TIME, APPLY_CUSTOMER_ID, 
      			VALIDATE_TIME, STATUS, ISVALID,  CREATE_DATE, UPDATE_DATE)
    values
     (#{applyInfoId}, #{policyId},  #{applyType}, #{applyTime}, #{applyCustomerId}, #{validateTime}, #{status}, '1', NOW(), NOW())
 	</insert>
 	
 	<select id="find" parameterType="map"  resultType="com.douins.apply.domain.model.ApplyInfo"  resultMap="BaseResultMap">
 	  select * from T_APPLY_INFO where ID = #{id}
 	</select>
 	
 	<!-- selectByPrimaryKey -->
 	<select id="findByInfoId" resultType="com.douins.apply.domain.model.ApplyInfo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" /> from T_APPLY_INFO where APPLY_INFO_ID = #{applyInfoId} AND ISVALID='1'
  </select>
 	
 	<!-- softDeleteByPrimaryKey -->
 	<update id="delete" parameterType="java.lang.String">
 	  update T_APPLY_INFO set ISVALID = '0' and APPLY_INFO_ID = #{applyInfoId}
 	</update>
 	
 	<!-- updateByPrimaryKey -->
 	<update id="update" parameterType="com.douins.apply.domain.model.ApplyInfo" >
    update T_APPLY_INFO set  POLICY_ID = #{policyId}, APPLY_TYPE = #{applyType},
        APPLY_TIME = #{applyTime}, APPLY_CUSTOMER_ID = #{applyCustomerId}, VALIDATE_TIME = #{validateTime},
        STATUS = #{status}, ISVALID = #{isvalid}, CREATE_DATE = #{createDate}, UPDATE_DATE = #{updateDate}
    where APPLY_INFO_ID = #{applyInfoId}
  </update>
  
  <update id="updateAfter" parameterType="com.douins.apply.domain.model.ApplyInfo" >
    update T_APPLY_INFO set VALIDATE_TIME = #{validateTime}, STATUS = #{status}, UPDATE_DATE = #{updateDate}
    where APPLY_INFO_ID = #{applyInfoId}
  </update>
  
   <select id="getList" parameterType="com.douins.apply.domain.model.ApplyInfo" resultType="com.douins.apply.domain.model.ApplyInfo" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from T_APPLY_INFO a
       <trim prefix="where" prefixOverrides="and |or">1=1               
            <if test="applyInfoId != null and applyInfoId != ''"> and APPLY_INFO_ID = #{applyInfoId,jdbcType=CHAR}</if>
            <if test="policyId != null and policyId != ''"> and POLICY_ID = #{policyId,jdbcType=CHAR}</if>
            <if test="applyCustomerId != null and applyCustomerId != ''"> and APPLY_CUSTOMER_ID = #{applyCustomerId,jdbcType=CHAR}</if>
            <if test="status != null and status != ''"> and STATUS = #{status,jdbcType=CHAR}</if>   
            <if test="createDate != null and createDate != ''"> and CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}</if>
            <if test="updateDate != null and updateDate != ''"> and UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}</if>
            <choose>
                <when test="isvalid != null and isvalid != ''">
                    AND ISVALID = #{isvalid,jdbcType=CHAR}
                </when>
                <otherwise>
                    AND ISVALID = '1'
                </otherwise>
            </choose>
     </trim>
     </select>
     
     <select id="getList_Count" parameterType="com.douins.apply.domain.model.ApplyInfo" resultType="java.lang.Integer" >
       select count(*) from T_APPLY_INFO a
       <trim prefix="where" prefixOverrides="and |or">1=1
            <if test="applyInfoId != null and applyInfoId != ''"> and APPLY_INFO_ID = #{applyInfoId,jdbcType=CHAR}</if>
            <if test="policyId != null and policyId != ''"> and POLICY_ID = #{policyId,jdbcType=CHAR}</if>
            <if test="applyCustomerId != null and applyCustomerId != ''"> and APPLY_CUSTOMER_ID = #{applyCustomerId,jdbcType=CHAR}</if>
            <if test="status != null and status != ''"> and STATUS = #{status,jdbcType=CHAR}</if>   
            <if test="createDate != null and createDate != ''"> and CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}</if>
            <if test="updateDate != null and updateDate != ''"> and UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}</if>
            <choose>
                <when test="isvalid != null and isvalid != ''">
                    AND ISVALID = #{isvalid,jdbcType=CHAR}
                </when>
                <otherwise>
                    AND ISVALID = '1'
                </otherwise>
            </choose>
        </trim>
    </select>
</mapper>