body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:100px;
  top:100px;
  width:320px;
  height:568px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u2 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:100px;
  width:320px;
  height:56px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:56px;
}
#u5 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:108px;
  top:100px;
  width:308px;
  height:13px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:108px;
  top:127px;
  width:22px;
  height:22px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:240px;
  top:124px;
  width:41px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:100px;
  top:155px;
  width:320px;
  height:135px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:135px;
}
#u13 {
  position:absolute;
  left:2px;
  top:60px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:100px;
  top:452px;
  width:320px;
  height:216px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:216px;
}
#u15 {
  position:absolute;
  left:2px;
  top:100px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:120px;
  top:345px;
  width:280px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:120px;
  top:320px;
  width:150px;
  height:13px;
}
#u19 {
  position:absolute;
  left:16px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u18_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21 {
  position:absolute;
  left:130px;
  top:290px;
}
#u21_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u21_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u21_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:110px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:110px;
}
#u23 {
  position:absolute;
  left:2px;
  top:47px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:45px;
  width:240px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u25 {
  position:absolute;
  left:66px;
  top:16px;
  width:109px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:6px;
  top:61px;
  width:108px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:124px;
  top:61px;
  width:108px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:115px;
  top:193px;
  width:158px;
  height:15px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:15px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:115px;
  top:220px;
  width:141px;
  height:15px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:15px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:116px;
  top:166px;
  width:189px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:13px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:115px;
  top:245px;
  width:151px;
  height:15px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:15px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:115px;
  top:270px;
  width:123px;
  height:15px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:115px;
  top:235px;
  width:285px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:268px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:285px;
  height:1px;
}
