body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:100px;
  top:100px;
  width:320px;
  height:568px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u2 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:100px;
  width:320px;
  height:56px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:56px;
}
#u5 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:108px;
  top:100px;
  width:308px;
  height:13px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:108px;
  top:127px;
  width:22px;
  height:22px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:240px;
  top:125px;
  width:41px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
